[Unit]
Description=Lab Init Service
After=network.target

[Service]
Type=simple
Restart=always
User=root
ExecStart=/usr/local/bin/lab-init

[Install]
WantedBy=multi-user.target
